
/*StyleClass se poziva sa tackom*/
.poljeIspravno
{
    -fx-control-inner-background: lightgreen;
}

.poljeNijeIspravno
{
    -fx-control-inner-background: pink;
}

#glavniGrid
{
    -fx-background-image: url("vodena.jpg");
}